body{
    margin: 0px;
    background-image: url(background.jpg.jpg)
}

@import url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-photos%2Fcolor-fusion-background%3Fpage%3D6&psig=AOvVaw2PSI-6TonLnRkSsJ5VdJM3&ust=1737096052825000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLCC2v7Q-YoDFQAAAAAdAAAAABAE");


header{
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(70, 38, 250);
    padding: 10px 15px;
    width: 100%;
    align-items: center;
    z-index: 100;
    font-family: Berlin Sans FB;
}

.company{
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    color: honeydew;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(152, 151, 255);
    text-align: left;
    transition: .7s ease;
    border-radius: 15px;
}

.banner{
    float: left;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    scale: 150%;
}